{% extends 'main/base.html' %}

{% block content %}
    {% for object in product %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">

                    {% load mediapath %}
                    <img src="{% mediapath object.image %}"
                    <rect width="70%" height="70%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                    <p class="card-text">{{ object.name|title|truncatechars:100 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                            <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                    href="{% url 'main:catalog' %}" class="text-black">Информация</a></button>

                            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="">Купить</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}