{% extends 'main/base.html' %}
{% block content %}
    {% for product in product %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <svg class="bd-placeholder-img card-img-top" width="50%" height="225">

                    <rect width="1000%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ product.name|title }}</text>
                    <p class="card-text"></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                            <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                    href="{% url 'main:catalog' %}" class="text-black">Информация</a></
                            >

                            <button type="button" class="btn btn-sm btn-outline-secondary" href="">Перейти на страницу</
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}